@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/alertify.css" />
<link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/themes/bootstrap.css" />
<link rel="stylesheet" href="~/Content/bootstrap.css" />
<link rel="stylesheet" href="~/Content/Site.css" />
<link rel="stylesheet" href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.css" />
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

@model VET_ANIMAL.WEB.Models.MascotasViewModel
@{
    ViewData["Title"] = "Mascotas";
}
<!-- Modal Guardar-->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content " style="width:100%">
            <div class="modal-header TMSHeaderModal" style="background: #FAEFF3">
                <h5 class="modal-title" style="font-family: 'Young Serif', sans-serif; font-weight: bold;">Mascotas</h5>
                <div class="d-flex align-items-end flex-column">
                    <button type="button" style="color: black" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
                </div>
            </div>

            <form asp-action="GuardaryEditarInfo" style="font-family: 'Young Serif', sans-serif;">
                <div class="m-5">
                    <!-- Primer input y botón -->
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" placeholder="Ingrese Cedula del Cliente" id="CI">
                        <div class="input-group-append">
                            <button class="btn btn-success" type="button" onclick="buscarCliente2()"><i class="bi bi-search"></i></button>
                        </div>
                    </div>

                    <div>
                        <!-- Segundos y terceros inputs -->
                        <label for="snombreCliente">Id Cliente</label>
                        <input type="text" class="form-control mb-3" id="idCliente" readonly style="width:10%!important">
                        <label for="getnombreCliente">Cliente</label>
                        <input type="text" class="form-control" id="getnombreCliente" readonly>
                    </div>

                </div>
                <div class="m-5">
                    <div class="form-row">

                        <div class="form-group col-md-6">
                            <label for="">Nombre</label>
                            <input type="text" asp-for="@Model.nombreMascota" class="form-control" id="" placeholder="Ingrese Nombre Mascota">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="">Id Cliente</label>
                            <input type="text" class="form-control mb-3" readonly style="width:50%!important">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="">Peso</label>
                            <input type="number" asp-for="@Model.peso" class="form-control" id="" placeholder="Ingrese Peso Mascota">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="">Raza</label>
                            <select asp-for="@Model.raza" class="form-control">
                                <option value="">Seleccione</option>
                                <option value="Labrador">Labrador</option>
                                <option value="Bulldog">Bulldog</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="">Sexo</label>
                            <select asp-for="@Model.sexo" class="form-control">
                                <option value="">Seleccione</option>
                                <option value="Macho">Macho</option>
                                <option value="Hembra">Hembra</option>
                            </select>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="">Fecha de Nacimiento</label>
                            <input class="form-control" asp-for="@Model.fechaNacimiento" name="fechaNacimiento" style="width: 89%;" max="2023-11-11" type="date" required>
                        </div>
                    </div>




                </div>
                <div class="modal-footer" style="background: #FAEFF3">
                    <button id="guardarInformacion2" type="submit" class="btn btn-success btn-grad btn-sm">
                        Guardar
                    </button>
                </div>
            </form>

        </div>
    </div>
</div>


<!-- Modal Editar-->
<div class="modal fade" id="exampleModalEditar" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content " style="width:100%">
            <div class="modal-header TMSHeaderModal" style="background: #FAEFF3">
                <h5 class="modal-title" style="font-family: 'Young Serif', sans-serif; font-weight: bold;">Mascotas</h5>
                <div class="d-flex align-items-end flex-column">
                    <button type="button" style="color: black" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
                </div>
            </div>
            <div class="m-5">
                <!-- Primer input y botón -->
                <div class="input-group mb-3">
                    <input type="text" id="cedulabuscar" class="form-control" placeholder="Ingrese Cedula del Cliente">
                    <div class="input-group-append">
                        <button class="btn btn-success" type="button"><i class="bi bi-search"></i></button>
                    </div>
                </div>
                <div>
                    <!-- Segundos y terceros inputs -->
                    <label for="nombreCliente">Id Cliente</label>
                    <input id="getidcliente" type="text" class="form-control mb-3" readonly style="width:10%!important">
                    <label for="nombreCliente">Cliente</label>
                    <input id="getnombrecliente" type="text" class="form-control" readonly>
                </div>

            </div>
            <form asp-action="GuardaryEditarInfo" style="font-family: 'Young Serif', sans-serif;">

                <div class="m-5">
                    <div class="form-row">

                        <div class="form-group col-md-6">
                            <label for="">Nombre</label>
                            <input type="text" asp-for="@Model.nombreMascota" class="form-control" id="" placeholder="Ingrese Nombre Mascota">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="">Id Cliente</label>
                            <input type="text" class="form-control mb-3" readonly style="width:50%!important">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="">Peso</label>
                            <input type="number" asp-for="@Model.peso" class="form-control" id="" placeholder="Ingrese Peso Mascota">
                        </div>
                        <div class="form-group col-md-6">
                            <label for=""> Raza</label>
                            <select type="text" asp-for="@Model.raza" class="form-control" id="">
                                <option value="">Seleccione</option>
                                <option value="">Labrador</option>
                                <option value="">Bulldog</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="">Sexo</label>
                            <select type="text" asp-for="@Model.sexo" class="form-control" id="">
                                <option value="">Seleccione</option>
                                <option value="">Macho</option>
                                <option value="">Hembra</option>
                            </select>
                        </div>
                        <div class="form-group col-md-6">
                            <label for=""> Fecha de Nacimiento</label>
                            <input class="form-control" asp-for="@Model.fechaNacimiento" name="fecha" style="width:89%;" max="2023-11-11" type="date" required="">
                        </div>
                    </div>




                </div>
                <div class="modal-footer" style="background: #FAEFF3">
                    <button id="guardarInformacion2" type="submit" class="btn btn-success btn-grad btn-sm">
                        Guardar
                    </button>
                </div>
            </form>

        </div>
    </div>
</div>



<!-- Modal Eliminar -->
@*<div class="modal fade" id="eliminarModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content " style="width:100%">
            <div class="modal-header TMSHeaderModal">
                <h5 class="modal-title TMSTituloModal">ANIMAL PLACE</h5>
                <div class="d-flex align-items-end flex-column">
                    <button type="button" style="color: black" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
                </div>
            </div>
            <form asp-action="DeleteInformacionC">
                <div class="modal-body ">
                    <div hidden class="form-outline mb-4">
                        <label class="form-label btn-color-info TMSlabelText">Id</label>
                        <input type="text" asp-for="@Model.idCliente" id="idClienteEliminar" class="form-control form-control-lg  TMSTextBoxValores" />
                    </div>
                    <div class="form-outline mb-4">
                        <label class="form-label btn-color-info TMSlabelText" style="margin-top:28px; font-size:13px">¿Está seguro de querer eliminar este Cliente?</label>
                    </div>
                </div>
                <div class="modal-footer">
                    <button id="eliminarInfoData" style="padding:10px; width:50px;" type="submit" class=" btn btn-success  btn-sm">Sí </button>
                    <button id="eliminarInfoDatos" style="padding:10px; width:50px;" data-bs-dismiss="modal" aria-label="Cerrar" type="button" class=" btn btn-danger  btn-sm">No </button>
                </div>
            </form>
        </div>
    </div>
</div>*@
<div class="row" style="font-size: 13px !important;">
    <div class="col-md-12">
        <div class="widget">
            <header class="widget-header" style="padding-bottom: 5px !important;">
                <div class="row">
                    <h4 class="widget-title col-md-12" style="font-weight:400 !important;font-size: 21px; color:#333333; ;font-family: 'Young Serif', sans-serif; ">Mascotas</h4>
                </div>
            </header>
            <hr class="widget-separator" style="margin-top:2px !important">
            <div class="widget-body">
                <div class="btn-group" role="group" aria-label="Basic mixed styles example" style="margin-bottom:5px !important;">
                    <button id="btnNuevo" type="button" class="btn btn-success btn-sm bi bi-clipboard-plus" data-bs-toggle="modal" onclick="nuevo()" data-bs-target="#exampleModal">   Nuevo </button>
                </div>
                <div class="table-responsive" style="font-family: 'Young Serif', sans-serif; ">
                    <table class="table table-bordered table-sm  dataTable table-striped" id="tablaMascotas">
                        <thead>
                            <tr>
                                <th>
                                    Id
                                </th>
                                <th>
                                    Nombre
                                </th>

                                <th>
                                    Raza
                                </th>
                                <th>
                                    Sexo
                                </th>
                                <th>
                                    Peso
                                </th>
                                <th>
                                    Dueño
                                </th>
                                <th>
                                    Fecha de Nacimiento
                                </th>
                                <th>
                                    Acciones
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model.ListaMascota != null)
                            {
                                @foreach (var item in Model.ListaMascota)
                                {
                                    @Html.HiddenFor(model => item.idMascota)
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(model => item.idMascota)

                                        </td>
                                        <td>
                                            @Html.DisplayFor(model => item.nombreMascota)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(model => item.raza)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(model => item.sexo)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(model => item.peso)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(model => item.cliente)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(model => item.fechaNacimiento)
                                        </td>
                                        <td>
                                            <button title="Editar Cliente" class="btn p-v-sm btn-success btn-sm btn-editar" data-bs-toggle="modal" data-bs-target="#editarModal" onclick="editarCliente();">
                                                <i class="bi bi-pen"></i>
                                            </button>
                                            <button title="Eliminar Cliente" class="btn p-v-sm btn-danger btn-sm" id="btnEliminar" data-bs-toggle="modal" data-bs-target="#eliminarModal" onclick="eliminarCliente();">
                                                <i class="bi bi-trash"></i>
                                            </button>
                                        </td>
                                    </tr>
                                }
                            }
                            else
                            {
                                <tr>
                                    <td>-</td>
                                    <td>-</td>
                                    <td>-</td>
                                    <td>-</td>
                                    <td>-</td>
                                    <td>-</td>
                                    <td>-</td>
                                    <td>-</td>
                                </tr>
                            }
                        </tbody>
                        <tfoot>
                            <tr>
                                <th>
                                    Id
                                </th>
                                <th>
                                    Nombre
                                </th>
                                <th>
                                    Raza
                                </th>
                                <th>
                                    Sexo
                                </th>
                                <th>
                                    Peso
                                </th>
                                <th>
                                    Dueño
                                </th>
                                <th>
                                    Fecha de Nacimiento
                                </th>
                                <th>
                                    Acciones
                                </th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    <script src="~/Content/jquery-2.2.4.js"></script>
    <script src="~/Content/bootstrap.js"></script>
    <script src="~/Content/modernizr-2.8.3.js"></script>
    <script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.js"></script>
    <script type="text/javascript">
        var table;
        $(document).ready(function () {
            $('#tablaMascotas').DataTable();
        });
        function buscarCliente2() {
            // Obtener el valor del input de cédula
            var identificacion = $("#CI").val();
            // Hacer la solicitud al endpoint de tu API para consultar el cliente
            $.ajax({
                url: '/Clientes/BuscarClientePorCI',
                method: 'GET',
                data: { CI: identificacion },
                contentType: 'application/json',
                success: function (data) {
                    console.log("Datos del cliente:", data);

                    // Verificar si se encontró el cliente
                    if (data.length > 0) {
                        // Rellenar los campos con los datos obtenidos de la API
                        $("#idCliente").val(data[0].idCliente);
                        $("#cedulaClienteEncontrada").val(data[0].identificacion);
                    } else {
                        console.log("Cliente no encontrado");
                        // Puedes mostrar un mensaje o realizar otras acciones si el cliente no se encuentra
                    }
                },
                error: function (error) {
                    console.error('Error:', error);
                }
            });
        }
        function editarCliente(Cliente) {
            console.log("esditarrr", Cliente);
            $('#nombreCliente2').val(Cliente.nombres);
            $('#idCliente2').val(Cliente.idCliente);
            $('#cedCliente2').val(Cliente.identificacion);
            $('#dirCliente2').val(Cliente.direccion);
            $('#correoCliente2').val(Cliente.correo);
            $('#telfCliente2').val(Cliente.telefono);
        }

        function nuevo() {
            $("#cedulaCliente").val("");
        }


        function eliminarCliente(guia) {
            console.log(guia);
            $("#idClienteEliminar").val(guia.idCliente);
        }



    </script>
}
