
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/alertify.css" />
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/themes/bootstrap.css" />
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <link rel="stylesheet" href="~/Content/bootstrap.css" />
   >
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


@model VET_ANIMAL.WEB.Models.MascotasViewModel
@{
    ViewData["Title"] = "HEMOPARASITOSIS";
}

<body>
    <div class="container">
        <h2 class="mb-3" style="color: black; font-weight: bold; font-size: 2.2em;font-family: 'Young Serif', sans-serif;">DETECCIÓN HEMOPARASITOSIS </h2>

        <div class="container mt-5">
            <div class="row justify-content-center">
                <div class="col-md-6">
                    <div class="card p-4 border-0" style="border-radius: 15px; background: linear-gradient(180deg, #ffffff 0%, #f0f0f0 100%); box-shadow: 10px 10px 15px 10px #888888;">


                        <form style="color: black;font-family: 'Young Serif', sans-serif;">
                            <div class="mb-3">
                                <label for="CI" class="form-label">Cédula del Cliente</label>
                                <div class="input-group">
                                    <input type="text" class="form-control" id="CI" placeholder="Ingrese Cédula" onkeypress="return solo10Numeros(event)" required>
                                    <button class="btn btn-primary" type="button" onclick="buscarCliente2()"><i class="bi bi-search"></i></button>
                                </div>
                            </div>

                            <div class="mb-3">
                                <label for="cedCliente" class="form-label">Cliente</label>
                                <input type="text" class="form-control" id="cedCliente" readonly style="color: red;">
                            </div>

                            <div class="mb-3">
                                <label for="petDropdown" class="form-label">Mascota</label>
                                <select class="form-select" id="petDropdown" readonly style="color: blue;">
                                    <!-- Opciones de mascotas -->
                                </select>
                            </div>


                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="card text-center mt-5">
            <div class="card-header">
               
                    <div class="nav-item">

                    <h1 class="mb-3 text-center" style="color: black; font-weight: bold;font-size: 1.2em; font-family: 'Young Serif', sans-serif;">
                            CASOS SOPECHA DE HEMOPARASITOSIS
                        </h1>
                    </div>
                    <div class="btn-group" role="group" aria-label="Basic mixed styles example" style="margin-bottom:5px !important;">
                    <button id="btnNuevo" type="button" class="btn btn-primary btn-sm bi bi-clipboard-plus" data-bs-toggle="modal" data-bs-target="#exampleModal">   Nuevo </button>
                    </div>
                    @*<li class="nav-item">
                        <button class="btn btn-success active m-1" type="button" style="background-color: #007bff; color: #ffffff;">Active</button>
                    </li>
                    <li class="nav-item">
                        <button class="btn btn-danger active m-1" type="button" style="background-color: #007bff; color: #ffffff;">Active</button>
                    </li>*@
               
            </div>
            <div class="card-body">

                <div class="table-responsive" style="font-family: 'Young Serif', sans-serif; ">
                    <table class="table table-bordered table-sm  dataTable table-striped" id="tablaMascotas">
                        <thead>
                            <tr>
                                
                                <th>
                                    Historia Clinica
                                </th>
                                <th>
                                    Nombre Mascota
                                </th>
                                <th>
                                    Motivo Consulta
                                </th>
                                <th>
                                    Peso
                                </th>
                                <th>
                                    Observacion
                                </th>
                                
                                <th>
                                    Acciones
                                </th>

                            </tr>
                        </thead>
                        <tbody>
                            @if (Model.ListaMascota != null)
                            {
                                @foreach (var item in Model.ListaMascota)
                                {
                                    @Html.HiddenFor(model => item.idMascota)
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(model => item.idHistoriaClinica)

                                        </td>
                                        <td>
                                            @Html.DisplayFor(model => item.nombreMascota)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(model => item.motivo)
                                        </td>
                                        
                                        <td>
                                            @Html.DisplayFor(model => item.peso)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(model => item.observacion)
                                        </td>
                                        
                                        <td>


                                            <button title="Ficha Control" class="btn p-v-sm btn-primary btn-sm btn-editar" data-bs-toggle="modal" data-bs-target="#exampleModal" onclick="FichaMascota({idMascota:@item.idMascota ,nombreMascotas:'@item.nombreMascota',nombres:'@item.cliente', peso:'@item.peso' ,raza:'@item.raza',sexo:'@item.sexo',fecha:'@item.fechaNacimiento'});">
                                                <i class="bi bi-file-earmark-richtext-fill"></i>
                                            </button>

                                            

                                        </td>
                                    </tr>
                                }
                            }
                            else
                            {
                                <tr>
                                    <td>-</td>
                                    <td>-</td>
                                    <td>-</td>
                                    <td>-</td>
                                    <td>-</td>
                                    <td>-</td>
                                    
                                </tr>
                            }


                        </tbody>

                    </table>
                </div>

            </div>
        </div>
       
    </div>


    <!-- Modal Guardar-->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content " style="width:100%">
                <div class="modal-header TMSHeaderModal" style="background: #DAE8FD">
                    <h5 class="modal-title" style="font-family: 'Young Serif', sans-serif; font-weight: bold;">FICHA SINTOMATOLÓGICA</h5>
                    <div class="d-flex align-items-end flex-column">
                        <button type="button" style="color: black" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
                    </div>
                </div>

                <div class="accordion" id="accordionExample">
                    <div class="accordion-item" >
                        <h2 class="accordion-header" >
                            <button class="accordion-button" id="acor1" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                DATOS PACIENTE
                            </button>
                        </h2>
                        <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <div class="form-row m-2" style="font-family: 'Young Serif', sans-serif; ">

                                    <div class="form-group col-md-4">
                                        <label for="">Nombre</label>
                                        <input type="text" style="color: blue;font-size: 16px;" class="form-control" id="editNombre2">
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label for="">Dueño</label>
                                        <input id="editdueño22" type="text" class="form-control mb-3" style="width:100%!important; color: red">
                                    </div>
                                    <div class="form-group col-md-6" hidden>
                                        <label for="">idmasc</label>
                                        <input id="idmasc2" type="text" class="form-control mb-3" style="width:100%!important; color: red">
                                    </div>



                                    <div class="form-group col-md-4">
                                        <label for="">Peso</label>
                                        <input type="text" style="color: blue;font-size: 16px;" class="form-control" id="editPeso2" onkeypress="return soloNumeros(event)" required>
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label for="">Raza</label>
                                        <select class="form-control" id="editRaza2" style="color: blue;font-size: 16px;" required>
                                            <option value="">Seleccione</option>
                                            <option value="Labrador">Labrador</option>
                                            <option value="Bulldog">Bulldog</option>
                                            <option value="Mestizo">Mestizo</option>
                                            <option value="Chihuahua">Chihuahua</option>
                                            <option value="French">French</option>
                                            <option value="Golden Retriever">Golden Retriever</option>
                                            <option value="Pitbull">Pitbull</option>
                                        </select>
                                    </div>


                                    <div class="form-group col-md-4">
                                        <label for="">Sexo</label>
                                        <select class="form-control" id="editSexo2" style="color: blue;font-size: 16px;" required>
                                            <option value="">Seleccione</option>
                                            <option value="Macho">Macho</option>
                                            <option value="Hembra">Hembra</option>
                                        </select>
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label for="">Fecha de Nacimiento</label>
                                        <input style="color: blue;font-size: 16px;width: 100%" class="form-control" id="editFecha2" name="editFecha2" max="2024-12-31" type="date">
                                    </div>


                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed" id="acor2" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                SINTOMAS
                            </button>
                        </h2>
                        <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <div class="form-row " style="font-family: 'Young Serif', sans-serif;">

                                    <form id="miFormulario">

                                        <div class="sintomas-header">
                                            <h5 style="font-family: 'Young Serif', sans-serif;color:black">HEMOPARASITOSIS</h5>
                                        </div>

                                        <div class="form-row m-2" style="font-family: 'Young Serif', sans-serif; ">
                                            <div class="checkbox-container ">
                                                <input type="checkbox" id="sangradoCutaneo" name="sintomas" value="Sangrado cutáneo">
                                                <label for="sangradoCutaneo">Sangrado cutáneo</label>
                                            </div>

                                            <div class="checkbox-container">
                                                <input type="checkbox" id="problemasRespiratorios" name="sintomas" value="Problemas respiratorios">
                                                <label for="problemasRespiratorios">Problemas respiratorios</label>
                                            </div>

                                            <div class="checkbox-container">
                                                <input type="checkbox" id="perdidaPeso" name="sintomas" value="Pérdida de peso">
                                                <label for="perdidaPeso">Pérdida de peso</label>
                                            </div>

                                        </div>
                                        <div class="form-row m-2" style="font-family: 'Young Serif', sans-serif; ">
                                            <div class="checkbox-container">
                                                <input type="checkbox" id="linfadenopatia" name="sintomas" value="Linfadenopatía">
                                                <label for="linfadenopatia">Linfadenopatía</label>
                                            </div>

                                            <div class="checkbox-container">
                                                <input type="checkbox" id="letargia" name="sintomas" value="Letargia">
                                                <label for="letargia">Letargia</label>
                                            </div>

                                            <div class="checkbox-container">
                                                <input type="checkbox" id="ictericia" name="sintomas" value="Ictericia">
                                                <label for="ictericia">Ictericia</label>
                                            </div>

                                        </div>
                                        <div class="form-row m-2" style="font-family: 'Young Serif', sans-serif; ">
                                            <div class="checkbox-container">
                                                <input type="checkbox" id="hemorragiasMucosas" name="sintomas" value="Hemorragias en mucosas">
                                                <label for="hemorragiasMucosas">Hemorragias en mucosas</label>
                                            </div>

                                            <div class="checkbox-container">
                                                <input type="checkbox" id="hemoglobinuria" name="sintomas" value="Hemoglobinuria">
                                                <label for="hemoglobinuria">Hemoglobinuria</label>
                                            </div>

                                            <div class="checkbox-container">
                                                <input type="checkbox" id="fiebre" name="sintomas" value="Fiebre">
                                                <label for="fiebre">Fiebre</label>
                                            </div>

                                        </div>
                                        <div class="form-row m-2" style="font-family: 'Young Serif', sans-serif; ">
                                            <div class="checkbox-container">
                                                <input type="checkbox" id="esplenomegalia" name="sintomas" value="Esplenomegalia">
                                                <label for="esplenomegalia">Esplenomegalia</label>
                                            </div>

                                            <div class="checkbox-container">
                                                <input type="checkbox" id="epistaxis" name="sintomas" value="Epistaxis">
                                                <label for="epistaxis">Epistaxis</label>
                                            </div>

                                            <div class="checkbox-container">
                                                <input type="checkbox" id="cojeraArticular" name="sintomas" value="Cojera articular">
                                                <label for="cojeraArticular">Cojera articular</label>
                                            </div>


                                        </div>
                                        <div class="form-row m-2" style="font-family: 'Young Serif', sans-serif; ">
                                            <div class="checkbox-container">
                                                <input type="checkbox" id="cojeraIntermitente" name="sintomas" value="Cojera intermitente">
                                                <label for="cojeraIntermitente">Cojera intermitente</label>
                                            </div>

                                            <div class="checkbox-container">
                                                <input type="checkbox" id="anorexia" name="sintomas" value="Anorexia">
                                                <label for="anorexia">Anorexia</label>
                                            </div>

                                            <div class="checkbox-container">
                                                <input type="checkbox" id="depresion" name="sintomas" value="Depresión">
                                                <label for="depresion">Depresión</label>
                                            </div>

                                        </div>




                                    </form>

                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed" id="acor3" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                RESULTADO
                            </button>
                        </h2>
                        <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <strong>This is the third item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
                            </div>
                        </div>
                    </div>
                </div>
                
               

                <div class="modal-footer" style="background: #DAE8FD">
                    <button id="guardarInformacion2" type="submit" class="btn btn-success btn-grad btn-sm">
                        Guardar
                    </button>
                </div>

            </div>
        </div>
    </div>


    <script>
        function FichaMascota(Mascota) {
           

            console.log("editar", Mascota);
            $('#editNombre2').val(Mascota.nombreMascotas);
            $('#editdueño22').val(Mascota.nombres);
            $('#editPeso2').val(Mascota.peso);
            $('#editRaza2').val(Mascota.raza);
            $('#editSexo2').val(Mascota.sexo);
            $('#editFecha2').val(Mascota.fecha);
        }
        function buscarCliente2() {
            console.log("Iniciando función buscarCliente2");

            // Obtener el valor del input de cédula
            var identificacion = $("#CI").val();

            console.log("Cédula del cliente:", identificacion);

            // Hacer la solicitud al endpoint de tu API para consultar el cliente
            $.ajax({
                url: '/HistoriaClinica/BuscarClientePorCI',
                method: 'GET',
                data: { CI: identificacion },
                contentType: 'application/json',
                success: function (data) {
                    console.log("Datos del cliente:", data);

                    // Verifica si se está ejecutando y muestra los datos en la consola


                    // Asegúrate de que los identificadores coincidan con los elementos HTML reales
                    $("#nombreCliente").val(data.nombres);
                    $("#dirCliente").val(data.direccion);
                    $("#correoCliente").val(data.correo);
                    $("#telefono").val(data.telefono);
                    $("#cedCliente").val(data.nombres);
                    $("#editdueño22").val(data.nombres);// Cambiado a data.cedula si es el nombre del cliente

                },
                error: function (error) {
                    // Imprime el mensaje de error en la consola para facilitar la depuración
                    console.error('Error en la solicitud AJAX:', error);
                }
            });

            console.log("Finalizando función buscarCliente2");

            var identificacion = $("#CI").val();
            $.ajax({
                url: '/HistoriaClinica/BuscarMascotaPorCI',
                method: 'GET',
                data: { CI: identificacion },
                contentType: 'application/json',
                success: function (data) {

                    var dropdown = $("#petDropdown");
                    dropdown.empty(); // Clear existing options

                    // Populate the dropdown with pet names
                    data.forEach(function (pet) {
                        dropdown.append($('<option></option>').val(pet.idMascota).html(pet.nombreMascota));
                    });
                    // Verifica si se está ejecutando y muestra los datos en la consola
                    console.log("Datos MASCOTAAAA:", data);
                    $("#petDropdown").change(function () {
                        var selectedPetId = $(this).val();

                        // Find the selected pet in the data array
                        var selectedPet = data.find(function (pet) {
                            return pet.idMascota == selectedPetId;
                        });
                        var longId = parseInt(selectedPet.idMascota); // Assuming it's an integer
                        // Fill the form with the selected pet's details
                        $("#editNombre2").val(selectedPet.nombreMascota);
                        $("#editPeso2").val(selectedPet.peso);
                        $("#editRaza2").val(selectedPet.raza);
                        $("#editSexo2").val(selectedPet.sexo);
                        $("#idmasc2").val(longId);
                        const partesFecha = selectedPet.fechaNacimiento.split(/[\/ :]/);
                        const fechaNacimiento = new Date(
                            partesFecha[2],
                            partesFecha[1] - 1,
                            partesFecha[0],
                            partesFecha[3],
                            partesFecha[4],
                            partesFecha[5]
                        );

                        // Verificar si la fecha es válida
                        if (!isNaN(fechaNacimiento.getTime())) {
                            // Formatear la fecha a 'YYYY-MM-DD' para asignarla al input
                            const fechaFormateada = fechaNacimiento.toISOString().split('T')[0];
                            $("#editFecha2").val(fechaFormateada);
                            console.log("Fecha de nacimiento en el modal:", fechaFormateada);
                        } else {
                            console.error('Fecha de nacimiento no válida');
                        }
                        $('#exampleModal').modal('show');

                        $.ajax({
                            url: '/Hemoparasitosis/SospechaHemo',
                            method: 'GET',
                            data: {  },
                            contentType: 'application/json',
                            success: function (data) {
                                console.log("aquiii historial", data)

                                

                            },
                            error: function (error) {
                                // Imprime el mensaje de error en la consola para facilitar la depuración
                                console.error('Error en la solicitud AJAX:', error);
                            }
                        });

                        console.log("Finalizando función buscarCliente2");

                    });



                },
                error: function (error) {
                    // Imprime el mensaje de error en la consola para facilitar la depuración
                    console.error('Error en la solicitud AJAX:', error);
                }
            });

            console.log("Finalizando función buscarCliente2");

            var idMascota = $("#idmasc2").val();


        }

        function nuevo() {
            $("#editNombre2").val("");
            $("#editPeso2").val("");
            $("#editRaza2").val("");
            $("#editSexo2").val("");
            $("#editdueño22").val("");
            $("#idmasc2").val("");
            $("#editFecha2").val("");
        }


    </script>

</body>
