@*@{
    ViewBag.UserName = Session["UserName"] != null ? Session["UserName"].ToString() : "";
    ViewBag.RoleName = Session["RoleName"] != null ? Session["RoleName"].ToString() : "";
}
*@
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title> ANIMAL PLACE</title>
    @* <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" /> *@
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    @*<link rel="stylesheet" href="https://animalvetresources.000webhostapp.com/css/custom.css" asp-append-version="true" />*@
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.0/font/bootstrap-icons.css">
    @*<link rel="stylesheet" href="https://animalvetresources.000webhostapp.com/css/TMSStyle.css" />*@
    @* <link rel="stylesheet" href="https://animalvetresources.000webhostapp.com/css/site.css" /> *@
    @*<link rel="stylesheet" href="https://animalvetresources.000webhostapp.com/css/style.css" />*@
    @* <link rel="stylesheet" href="https://animalvetresources.000webhostapp.com/css/style2.css" /> *@
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@10/dist/sweetalert2.min.css">
   
    <link rel="stylesheet" href="~/Content/Site.css" />
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light " >
            
            <div class="container-fluid" >
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index" style="font-family: 'Alfa Slab One', cursive; font-size: 28px; font-weight: bold;color: black;">
                   @* Clinica Veterinaria Animal Place*@
                </a>

                @if (TempData["menu"] != null)
                {
                    <button id="btnVehi" class="btn btn-primary  float-start" data-bs-toggle="offcanvas" data-bs-target="#offcanvas" role="button">
                        <span class="bi bi-list"></span>
                    </button>



                }




            </div>

        </nav>

    </header>


    <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvas" aria-labelledby="offcanvasLabel" data-bs-keyboard="false" data-bs-backdrop="true">
        <div class="d-flex align-items-end flex-column" style="height: 30px;background-color: honeydew;">
            <button type="button" style="background-color: honeydew; border:none" class="justify-content-end" data-bs-dismiss="offcanvas" aria-label="Cerrar">X</button>
            @* <i class="bi bi-box-arrow-left" style="height: 50px;" ></i>*@
        </div>
        <div class="d-flex justify-content-center" style="background-color: honeydew">
            <img src="/imagenes/logoVet.png" alt="" width="170px" height="150px" class="rounded-circle border border-light">
        </div>
        <div class="d-flex justify-content-center" style="background-color:honeydew">
            <p class="d-none d-sm-inline mx-1 h6">  </p>

        </div>
        





        <div class="offcanvas-body" >
            <h6 class="offcanvas-title d-none d-sm-block" id="offcanvas">  </h6>




           <h6 class="offcanvas-title d-none d-sm-block " id="offcanvas"> </h6>
            <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-start small" id="menu">
                <li class="nav-item">
                    <a href="" class="nav-link text-truncate">
                        <i class="fs-5 bi-house"></i><span class="ms-1 d-none d-sm-inline" style="font-size: 16px !important">  Inicio</span>
                    </a>
                </li>

                <li class="dropdown" style="width:100%;">
                    <a href="#" class="nav-link dropdown-toggle  text-truncate" id="dropdown" data-bs-toggle="dropdown" aria-expanded="false" style="font-size: 16px !important">
                        <i class="bi bi-person-fill"></i><span class="ms-1 d-none d-sm-inline"> Clientes</span>
                    </a>
                    <ul class="dropdown-menu text-small shadow" style="width:100%;" aria-labelledby="dropdown">
                        <li><a class="dropdown-item" href="/Clientes/Index">Clientes</a></li>


                    </ul>
                </li>

                <li class="dropdown" style="width:100%;">
                    <a href="#" class="nav-link dropdown-toggle  text-truncate" id="dropdown" data-bs-toggle="dropdown" aria-expanded="false" style="font-size: 16px !important">
                        <i class="bi bi-github"></i><span class="ms-1 d-none d-sm-inline"> Mascotas</span>
                    </a>
                    <ul class="dropdown-menu text-small shadow" style="width:100%;" aria-labelledby="dropdown">
                        <li><a class="dropdown-item" href="/Mascotas/Index">Mascotas</a></li>


                    </ul>
                </li>

                <li class="dropdown" style="width:100%;">
                    <a href="#" class="nav-link dropdown-toggle  text-truncate" id="dropdown" data-bs-toggle="dropdown" aria-expanded="false" style="font-size: 16px !important">
                        <i class="bi bi-file-earmark-arrow-up-fill"></i><span class="ms-1 d-none d-sm-inline"> Carga Masiva</span>
                    </a>
                    <ul class="dropdown-menu text-small shadow" style="width:100%;" aria-labelledby="dropdown">
                        <li><a class="dropdown-item" href="/CargaMasiva/CargaMasiva">Carga Masiva</a></li>


                    </ul>
                </li>

                <li class="dropdown" style="width:100%;">
                    <a href="#" class="nav-link dropdown-toggle  text-truncate" id="dropdown" data-bs-toggle="dropdown" aria-expanded="false" style="font-size: 16px !important">
                        <i class="bi bi-people"></i><span class="ms-1 d-none d-sm-inline"> Veterinarios</span>
                    </a>
                    <ul class="dropdown-menu text-small shadow" style="width:100%;" aria-labelledby="dropdown">
                        <li><a class="dropdown-item" href="/Veterianos/Index">Veterinarios</a></li>


                    </ul>
                </li>
                
                <li class="dropdown" style="width:100%;">
                    <a href="#" class="nav-link dropdown-toggle  text-truncate" id="dropdown" data-bs-toggle="dropdown" aria-expanded="false" style="font-size: 16px !important">
                        <i class="bi bi-file-richtext-fill"></i><span class="ms-1 d-none d-sm-inline"> Historia Clínica </span>
                    </a>
                    <ul class="dropdown-menu text-small shadow" style="width:100%;" aria-labelledby="dropdown">
                        <li><a class="dropdown-item" href="/HistoriaClinica/Index">Historia Clínica</a></li>

                    </ul>
                </li>

                <li class="dropdown" style="width:100%;">
                    <a href="#" class="nav-link dropdown-toggle  text-truncate" id="dropdown" data-bs-toggle="dropdown" aria-expanded="false" style="font-size: 16px !important">
                        <i class="bi bi-stickies"></i><span class="ms-1 d-none d-sm-inline"> Hemoparasitosis </span>
                    </a>
                    <ul class="dropdown-menu text-small shadow" style="width:100%;" aria-labelledby="dropdown">
                        <li><a class="dropdown-item" href="/Hemoparasitosis/Index">Hemoparasitosis</a></li>

                    </ul>
                </li>

                <li class="dropdown" style="width:100%;">
                    <a href="#" class="nav-link dropdown-toggle  text-truncate" id="dropdown" data-bs-toggle="dropdown" aria-expanded="false" style="font-size: 16px !important">
                        <i class="bi bi-graph-up-arrow"></i><span class="ms-1 d-none d-sm-inline"> Reportes </span>
                    </a>
                    <ul class="dropdown-menu text-small shadow" style="width:100%;" aria-labelledby="dropdown">
                        <li><a class="dropdown-item" href="/Reportes/Index">Reportes</a></li>

                    </ul>
                </li>

             
                <li class="dropdown" style="width:100%;">
                    <a href="#" class="nav-link dropdown-toggle  text-truncate" id="dropdown" data-bs-toggle="dropdown" aria-expanded="false" style="font-size: 16px !important">
                        <i class="bi bi-lock-fill"></i><span class="ms-1 d-none d-sm-inline">  Seguridad</span>
                    </a>
                    <ul class="dropdown-menu text-small shadow" style="width:100%;" aria-labelledby="dropdown">
                        <li><a class="dropdown-item" href="#">Usuarios</a></li>
                        <li><a class="dropdown-item" href="#">Roles</a></li>
                        <li><a class="dropdown-item" href="/ConfiguracionParametro/Index">Configuraciones</a></li>
                    </ul>
                </li>

                <li class="nav-item" style="width:100%;" >
                    <a href="/Account/CerrarSession" class="nav-link text-truncate">
                        <i class="bi bi-box-arrow-left"></i> <span class="ms-1 d-none d-sm-inline" style="font-size: 16px !important">  Cerrar Sesion</span>
                    </a>
                </li>
            </ul>

        
        </div>

      
    

     


    </div>



    <main id="app-main" class="app-main">
        <div class="wrap">
            <div class="container-fluid">
                <main role="main" class="pb-3">
                    @RenderBody()
                </main>
            </div>

        </div>
      
    </main>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
   @*  <script src="~/lib/jquery/dist/jquery.min.js"></script> *@
    @* <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script> *@
    @await RenderSectionAsync("Scripts", required: false)
    <script>
        var merror = '@TempData["MensajeError"]';
        if (merror != '') {
            Swal.fire({
                title: 'Ocurrió un error!',
                icon: 'error',
                html: `@Html.Raw(TempData["MensajeError"])`
            })
        }

        var msuccess = '@TempData["MensajeExito"]';
        if (msuccess != '') {
            Swal.fire({
                title: 'Transacción exitosa!',
                icon: 'success',
                html: '@Html.Raw(TempData["MensajeExito"])'
            })
        }

        var minfo = '@TempData["MensajeInfo"]';
        if (minfo != '') {
            Swal.fire({
                title: 'Información Conautect',
                icon: 'info',
                html: '@Html.Raw(TempData["MensajeInfo"])'
            })
        }
    </script>
    
</body>
</html>
